*{

    margin: 0;
    padding: 0;
    /* background-color: #1e1b4b; */
    font-family: "DM Sans", sans-serif;
    box-sizing: border-box;

}

body{

    background-color: #1e1b4b;

}

.quiz-app{

    width: 90%;
    max-width: 600px;
    background-color: #fff;
    margin: 8rem auto 0;
    padding: 2rem;
    border-radius: 1rem;
}

.quiz-app h1{

    color: #4942b3;
    font-weight: 900;
    margin: 1rem 0;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
  
}

#quiz-box{

    /* border: 1px solid black; */
    border-radius: 1rem;
    padding: 1rem ;
    background-color: rgb(245, 245, 245);
}

#quiz-box h2{

    color: #323233;
    padding: .5rem 0;

}

.ans-btn{

    width: 100%;
    margin: .3rem;
    padding: .75rem;
    border: 1px solid black;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all , 300ms;
    text-align: left;
}

.ans-btn:hover:not([disabled]){

    background: #222;
    color: #fff;
}
.ans-btn:disabled{
    cursor: no-drop;
}

#next-btn{

    background-color: #4942b3;
    color: #fff;
    border: none;
    width: 10rem; 
    padding: 1rem;
    border-radius: .5rem;
    margin: 1rem auto 0;
    display: none;
}

.correct{
    background: #9aeabc;
}
.Incorrect{
    background: #ff9393;
}